* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary: rgb(15, 15, 15);
  --clr-secondary: #faf0e0;
  --clr-correct: green;
  --clr-incorrect: red;

  height: 100vh;
  width: 100vw;
  
  background-color: var(--clr-primary);
  color: var(--clr-secondary);

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 8px;
}

button {
  all: unset;
  user-select: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 5px;
  text-align: center;
  min-height: 3rem;
}

button:focus {
  outline: revert;
}

.neutral-button {
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  border: 3px solid var(--clr-secondary);
}

.neutral-button:hover {
  color: var(--clr-secondary);
  background-color: var(--clr-primary);
  border: 3px solid var(--clr-secondary);
  transition: 0.2s;
}

.neutral-button:active {
  transform: translateY(3px);
  transition: 0s;
}

.correct-button {
  background-color: var(--clr-correct);
  border: 3px solid var(--clr-correct);
  animation: flash 0.5s ease-in-out infinite;
}

.incorrect-button {
  background-color: var(--clr-incorrect);
  border: 3px solid var(--clr-incorrect);
  animation: flash 0.5s ease-in-out infinite;
}

@keyframes flash {
  0%{opacity: 1}
  90%{opacity: 0}
  100%{opacity: 1} 
}

@media (min-width: 768px) {
  :root {
    font-size: 11px;
  }
}


